
.container {
    width: 100px;
    height: 100px;
    position: relative;
}

.line {
    width: 70%;
    height: 15%;
    background: red;
    position: absolute;
    top: calc(50% - 7.5%);
    left: calc(50% - 35%);

    &:first-child {
        content: " ";
        transform: rotate(45deg);
    }
    &:last-child {
        content: " ";
        transform: rotate(135deg);
    }
}
