
.container {
  display: flex;
  flex-direction: row;
}

.playground {
  flex-grow: 1;
  background-color: #eaeaea;
}

.nav {
  flex-grow: 1;
  background-color: #ccc;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .playground {
    order: 1;
  }

  .nav {
    order: 2;
  }
}